In [ ]:
#NAME: AKANSHA SHETTY   USN: 22BTRAD002      COURSE:AI/DE  SECTION:A

In [8]:
#1
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)

m = MetaData()

students = Table(
     'students', m, 
     Column('id', Integer, primary_key = True), 
     Column('firstname', String), 
     Column('lastname', String),
  )
m.create_all(engine)
i = students.insert()
'INSERT INTO students (id, firstname, lastname) VALUES (:id, :firstname, :lastname)'

conn = engine.connect()
i = students.insert().values(firstname = 'Jay', lastname = 'Joe')
result = conn.execute(i)

result.inserted_primary_key
s=students.select()
conn=engine.connect()
result=conn.execute(s)
for row in result:
  print(row)

2023-03-29 22:53:07,079 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 22:53:07,079 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-03-29 22:53:07,079 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-29 22:53:07,079 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 22:53:07,079 INFO sqlalchemy.engine.Engine INSERT INTO students (firstname, lastname) VALUES (?, ?)
2023-03-29 22:53:07,079 INFO sqlalchemy.engine.Engine [generated in 0.00088s] ('Jay', 'Joe')
2023-03-29 22:53:07,079 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 22:53:07,092 INFO sqlalchemy.engine.Engine SELECT students.id, students.firstname, students.lastname
FROM students
2023-03-29 22:53:07,092 INFO sqlalchemy.engine.Engine [generated in 0.00113s] ()
(1, 'May', 'Joe')
(2, 'May', 'Joe')
(3, 'Jin', 'Joe')
(4, 'Min', 'Roe')
(5, 'Say', 'Lin')
(6, 'Jay', 'Raj')
(7, 'May', 'Joe')
(8, 'Jin', 'Joe')
(9, 'Min', 'Roe')
(10, 'Say', 'Lin')
(11, 'Jay', 'Raj')
(12, 'May', 'Joe')
(13, 'Jin', 'Joe')
(14, 'Min', 'Roe')
(15, 'Say', 'Lin')
(16, 'Jay', 'Raj')
(17, 'Jay', 'Joe')
(18, 'Jay', 'Joe')

In [3]:
#NAME: AKANSHA SHETTY   USN: 22BTRAD002      COURSE:AI/DE  SECTION:A
#2
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
m = MetaData()
students = Table(
     'students', m, 
     Column('sno', Integer, primary_key = True), 
     Column('fname', String), 
     Column('lname', String),
  )
m.create_all(engine)

conn=engine.connect()
conn.execute(students.insert(), [
   {'sno':2,'fname':'Min','lname' : 'Joe'},
   {'sno':3,'fname':'Mrin','lname' : 'Roe'},
   {'sno':4,'fname':'Sata','lname' : 'Lin'},
   {'sno':5,'fname':'Miya','lname' : 'Raj'},
])

s = students.select()
conn = engine.connect()
result = conn.execute(s)

for row in result:
    print (row)

2023-03-29 22:48:53,300 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 22:48:53,300 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-03-29 22:48:53,302 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-29 22:48:53,302 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 22:48:53,302 INFO sqlalchemy.engine.Engine INSERT INTO students (sno, fname, lname) VALUES (?, ?, ?)
2023-03-29 22:48:53,302 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ((2, 'Min', 'Joe'), (3, 'Mrin', 'Roe'), (4, 'Sata', 'Lin'), (5, 'Miya', 'Raj'))
2023-03-29 22:48:53,302 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) table students has no column named sno
[SQL: INSERT INTO students (sno, fname, lname) VALUES (?, ?, ?)]
[parameters: ((2, 'Min', 'Joe'), (3, 'Mrin', 'Roe'), (4, 'Sata', 'Lin'), (5, 'Miya', 'Raj'))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
#NAME: AKANSHA SHETTY   USN: 22BTRAD002      COURSE:AI/DE  SECTION:A
#3
   print (rofrom sqlalchemy import delete,text)
dele = students.delete().where(students.c.firstname == "Jay")
engine.execute(dele)
dele = students.delete().where(students.c.firstname == "Min")
engine.execute(dele)
dele = students.delete().where(students.c.firstname == "Mrin")
engine.execute(dele)
dele = students.delete().where(students.c.firstname == "Sata")
engine.execute(dele)
dele = students.delete().where(students.c.firstname == "Miya")
engine.execute(dele)
sql = text("SELECT * from students")
 
result = engine.execute(sql).fetchall()
for record in result:
    print("\n", record)
s = students.select()
conn = engine.connect()
result = conn.execute(s)

for row in rew)

SyntaxError: invalid syntax (1910649875.py, line 1)